<header class="header-box">
    <div class="logo">
        <img width="40px" height="40px" src="/logo.png" alt="G logo">
        <p class="logo-text">abrif9</p>
    </div>
    <div class="menu">
        <app-menu></app-menu>
    </div>
    <div (click)="toggleSidebar('')" class="menu-icon">
        <span class="material-symbols-outlined">
            menu
        </span>
    </div>
</header>

<app-sidebar [isVisibleInputSignal]="showSidebarSignal()" (closeSidebarOutput)="toggleSidebar($event)"></app-sidebar>