<div class="menu-entries">
    <button (click)="scrollTo('home')" class="menu-option">
        HOME
        <div class="menu-underscore"></div>
    </button>
    <button (click)="scrollTo('about')" class="menu-option">
        ABOUT
        <div class="menu-underscore"></div>
    </button>
    <button (click)="scrollTo('technologies')" class="menu-option">
        TECHNOLOGIES
        <div class="menu-underscore"></div>
    </button>
    <button (click)="scrollTo('experience')" class="menu-option">
        EXPERIENCE
        <div class="menu-underscore"></div>
    </button>
</div>
