.bubble-list {
    display: flex;
    margin-top: 10px;
}

.bubble-item {
    border-radius: 40px;
    padding: 5px 8px;
    color: #02c39a;
    background-color: #10796f4a;
    font-weight: 500;
}

.bubble-item:nth-child(n + 2) {
    margin-left: 10px;
}