.bubble-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 100%;
    column-gap: 10px;
}

.bubble-item {
    border-radius: 40px;
    padding: 5px 8px;
    color: #02c39a;
    background-color: #10796f4a;
    font-weight: 500;
}


@media screen and (max-width: 700px) {
    .bubble-list {
      width: 100%;
      justify-content: start;
    }

    .bubble-item {
        margin-top: 10px;
    }
  }

