<div class="experience-container">
    <div class="experience-list">
        <div class="experience-item">
            <div class="experience-header">
                <div class="experience-title">
                    Nextworks
                </div>
                <div class="experience-date">
                    2023 - Present
                </div>
            </div>
            <hr>
            <div class="experience-content">
                Worked on interfaces written using the Angular framework.  
                Responsible for designing, developing, and deploying those GUIs used to interface with internal orchestration services and more. 
                Using Cypress to test, GitLab CI/CD for continuous integration and deployment, and NGINX as the web server. 
                Additionally, I have experience with Keycloak to implement authentication mechanisms on some of these interfaces.
            </div>
                <app-tech-bubble [bubbleNameInput]="bubbleTech"></app-tech-bubble>
        </div>
    </div>
</div>
